body {
    background: #DDE0CF;
    text-align: center;
    font-family: 'Lato';
    font-weight: 400;
    box-sizing: border-box;
    color: #2C2031;
    font-size: 14px;
}
a, a:visited {
  text-decoration: none;
  color: inherit;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    padding: 50px 60px;
    border: 2px solid #DDE0CF;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
    color: #458B72;
    font-family: 'Montserrat';
    font-weight: bold;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 100%;
    font-size: 12px;
    padding: 5px;
}

/*.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}*/
input {
    background: #CED3B5;
    border: 1px solid #AAAE94;
    width:100%;
    font-size: 18px;
}
#new_room {
    margin-top: 2px;
}
#new_message {
    margin-top: 7px;
    height: 40px;
}
#greeting {
    font: 18px "Montserrat";
    color: #2D44E2;
}
#refresh {
    font-size:14px;
    border: 2px solid #FCA606;
    padding: 2px;
    color: #FCA606;
}
p {
    margin: 2px;
}
#messages div {
    border: 1px solid #DDCBA2;
    border-radius: 5px;
    padding: 5px;
}
#main .chosen_room {
    color: #458B72;
}
.follow_button {
    border: 1px solid #DDCBA2;
    float: right;
    padding: 2px;
}
.username {
    color: #005E3C;
}
.bold_message {
  font-weight: bold;
  font-size: 18px;
}
